.mat-datepicker-content .mat-calendar {
  height: auto !important;
}

.container {
  width: 80vw;
  display: block;
  margin: 20px;

  .block {
    text-align: center;

    .mat-form-field {
      min-width: 400px;
    }
  }
}
