<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="block">
      <mat-form-field appearance="outline">
        <mat-label>Custom Date Picker</mat-label>
        <input matInput [matDatepicker]="datepicker" [timePickerFor]="datepicker" format="YYYY/MM/DD HH:mm:ss" formControlName="date1">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error *ngIf="form.get('date1').hasError('matDatepickerParse')">Parse Error with {{form.get('date1').errors.matDatepickerParse.text}}</mat-error>
      </mat-form-field>
    </div>


    <div class="block">
      <mat-form-field appearance="outline">
        <mat-label>Time Picker Only</mat-label>
        <input matInput placeholder="00:05" autocomplete="off" [timePickerFor] format="HH:mm:ss" formControlName="date2">
      </mat-form-field>
    </div>

    <div class="block">
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input [formControl]="date" matInput [matDatepicker]="picker" [timePickerFor]="picker" format="YYYY/MM/DD HH:mm:ss">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="pickerRange">
        <input matStartDate placeholder="Start date">
        <input matEndDate placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="pickerRange"></mat-datepicker-toggle>
      <mat-date-range-picker #pickerRange></mat-date-range-picker>
    </mat-form-field>


    <div class="block">
      <button mat-raised-button color="accent" type="submit">
        <mat-icon>save</mat-icon>
        Edit
      </button>
    </div>
  </form>
</div>
