<div class="container">
  <div class="segment">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="block">
        <mat-form-field appearance="outline">
          <mat-label>Date Picker(YYYY/MM/DD HH:mm:ss)</mat-label>
          <input autocomplete="off" matInput [matDatepicker]="datepicker0" [coreTimePickerFor]="datepicker0" format="YYYY/MM/DD HH:mm:ss"
                 formControlName="dateNull">
          <mat-datepicker-toggle matSuffix [for]="datepicker0"></mat-datepicker-toggle>
          <mat-datepicker #datepicker0></mat-datepicker>
          <mat-error *ngIf="form.get('dateNull').hasError('matDatepickerParse')">Parse Error
            with {{form.get('dateNull').errors.matDatepickerParse.text}}</mat-error>
        </mat-form-field>
      </div>

      <div class="block">
        <mat-form-field appearance="outline">
          <mat-label>Date Picker(YYYY/MM/DD hh:mm:ss a)</mat-label>
          <input autocomplete="off" matInput [matDatepicker]="datepicker" [coreTimePickerFor]="datepicker" format="YYYY/MM/DD hh:mm:ss a"
                 formControlName="dateMoment">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
          <mat-error *ngIf="form.get('dateMoment').hasError('matDatepickerParse')">Parse Error
            with {{form.get('dateMoment').errors.matDatepickerParse.text}}</mat-error>
        </mat-form-field>
      </div>

      <div class="block">
        <mat-form-field appearance="outline">
          <mat-label>Time Picker(HH:mm) with validation</mat-label>
          <input autocomplete="off" matInput placeholder="00:05" [coreTimePickerFor] format="HH:mm"
                 formControlName="timePicker">
          <mat-error *ngIf="form.get('timePicker').hasError('required')">Time is required</mat-error>
          <mat-error *ngIf="form.get('timePicker').hasError('matDatepickerParse')">Parse Error with {{form.get('timePicker').errors.matDatepickerParse.text}}</mat-error>
        </mat-form-field>
      </div>

      <div class="block">
        <mat-form-field appearance="outline">
          <mat-label>Range Date Picker(YYYY/MM/DD HH:mm)</mat-label>
          <mat-date-range-input
            [formGroup]="form.get('range')"
            [rangePicker]="pickerRange"
          >
            <input
              matStartDate
              autocomplete="off"
              formControlName="start"
              [coreTimePickerFor]="pickerRange"
              format="YYYY/MM/DD HH:mm"
              placeholder="Start date"
            >
            <input
              matEndDate
              autocomplete="off"
              formControlName="end"
              [coreTimePickerFor]="pickerRange"
              format="YYYY/MM/DD HH:mm"
              placeholder="End date"
            >
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="pickerRange"></mat-datepicker-toggle>
          <mat-date-range-picker #pickerRange></mat-date-range-picker>

          <mat-error *ngIf="form.get('range').get('start').hasError('matStartDateInvalid')">Invalid start date</mat-error>
          <mat-error *ngIf="form.get('range').get('end').hasError('matEndDateInvalid')">Invalid end date</mat-error>
        </mat-form-field>
      </div>

      <div class="block">
        <button mat-raised-button color="accent" type="submit">
          <mat-icon>save</mat-icon>
          Edit
        </button>
      </div>
    </form>
  </div>

  <div class="segment">
    <pre>
    {{form.value | json}}
  </pre>
  </div>
</div>
