<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="block">
      <mat-form-field appearance="outline">
        <mat-label>Custom Date Picker</mat-label>
        <input matInput [matDatepicker]="datepicker" [timePickerFor]="datepicker" format="YYYY/MM/DD HH:mm:ss" formControlName="date1">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
    </div>


    <div class="block">
      <mat-form-field appearance="outline">
        <mat-label>Time Picker Only</mat-label>
        <input matInput placeholder="00:05" autocomplete="off" [timePickerFor] format="HH:mm:ss" formControlName="date2">
      </mat-form-field>
    </div>

<!--    <div class="block">-->
<!--      <mat-form-field appearance="outline" cdkOverlayOrigin #originOverlay="cdkOverlayOrigin" [class.drop-down-input-active]="showPanel$ | async">-->
<!--        <mat-label>Overlay</mat-label>-->
<!--        <input #inputOverlayElement matInput autocomplete="off">-->
<!--      </mat-form-field>-->
<!--      <ng-template-->
<!--        cdkConnectedOverlay-->
<!--        cdkConnectedOverlayHasBackdrop-->
<!--        [cdkConnectedOverlayScrollStrategy]="scrollStrategy"-->
<!--        [cdkConnectedOverlayOrigin]="originOverlay"-->
<!--        [cdkConnectedOverlayOpen]="showPanel$ | async"-->
<!--        [cdkConnectedOverlayPositions]="positions"-->
<!--      >-->
<!--        <section class="drop-down-serch-panel mat-elevation-z1">-->
<!--          My Panel-->
<!--        </section>-->
<!--      </ng-template>-->
<!--    </div>-->


    <div class="block">
      <button mat-raised-button color="accent" type="submit">
        <mat-icon>save</mat-icon>
        Edit
      </button>
    </div>
  </form>
</div>
