core-time-picker {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.invisible {
    display: none;
  }
}
